
header{
    height:100px;
    width:100%;
    background-color: #2F4858;
    position:relative;
    .search-box{
        right:70px;
        position:absolute;
        top:12px;
        border:1px solid white;
        border-radius:2rem;
        padding:.5rem 6rem .5rem .5rem;
        color:white;
        font-size: 14px;
    }
    .logo{
        color:white;
        position:absolute;
        top:1rem;
        left:6.5rem;
        font-size: 20px;
    }
    .hamburger, .hamburger-close{
        display: none;
    }
    nav{
        
        height:40px;
        background-color: #86BBD8;
        position:absolute;
        bottom:0;
        width:100%;
        ul{
            list-style: none;
            display: flex;
            padding-left:12vw;
            margin:11px;
            li{
                padding-right: 50px;
                a{
                    text-decoration: none;
                    padding:.75rem;
                    color:rgb(56, 56, 56);
                    
                    
                }
                a:hover{
                    background-color: #2F4858;
                    transition:.2s;
                    color:white;
                    
                    
                }
            }
        }
    }
}
footer{
    position:absolute;
    bottom:0;
    height:100px;
    width:100%;
    background-color:#2F4858;
}
@media screen and(orientation:portrait)
{
    

    header{
        height:60px;
        .logo{
            left:2rem;
        }
        
        .list ul{
            padding-left: 0;
            list-style: none;
        }

        .list ul li{
            padding:1rem;
            font-size: 18px;
            a{
                color:white;
                text-decoration: none;
            }
            a:hover{
                color:rgb(168, 167, 167);
                transition:.2s;
            }
        }
        
        
        nav,.search-box{
            display: none;
        }
        .hamburger-logo,.hamburger-close-logo {
            height:25px;
            width:25px;
            cursor: pointer;
            position: absolute;
            top:1rem;
            right:2rem;
        }

        .hamburger-close-logo{
            top:1rem;
            right:1rem;
        }

        .hamburger{
            display:block;
            right:0;
            top:0;
        }

        .hamburger-list{
            display:flex;
            // flex-direction: column;
            
        }

        .hamburger-close{   
            display: block;        
            position:fixed;
            transform: translateX(0vw);
            transition-duration: 0.3s;
            right:-50vw;
            top:0;
            height:100vh; 
            width:50vw;
            background-color:#2F4858;      
        }

        .hamburger-open{ 
            transform:translateX(-50vw); 
            transition-duration: 0.3s;
        }
    
    }




}
